@model ResetPasswordRequestViewModel
@{
    ViewData["Title"] = "Şifre Sıfırlama İsteği";
}
<h2>Şifre Sıfırlama İsteği</h2>
<form asp-action="ResetPasswordRequest" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <button type="submit">Sıfırlama Linki Gönder</button>
</form> 